body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
    display: none;
}
div.scrollmenu {
  background-color: black;

  background-image: linear-gradient(white, skyblue);
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  
    background-image:none;
  text-emphasis-color: red;
  color: black ;
  text-align: center;
  padding: 0px;
  text-decoration: bold;
  
}

div.scrollmenu a:hover {


  background-color: whitesmoke;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
